.navbar-brand {
  height: 80px;
  padding: 0px 15px;
  font-size: 18px;
}
.navbar {
  background-color: #113448;
  padding-top: 10px;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.42857143;

  background-color: #113448;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #113448;
}

.carousel-inner > .item {
  background-image: url(image01.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  
}

.carousel-inner > .item:nth-child(2) {
  background-image: url(image02.jpg);
}
.carousel-inner > .item:nth-child(3) {
  background-image: url(image03.jpg);
}

 .col-md-4 {
   padding-right: 0px; padding-left: 0px;

  }
 .spaziotop {
   padding:60px 0;
}
.container {
  max-width: 98%;
  margin: 0 auto;
}

.image-container {
  background-color: #ffffff;
  padding: 10px;
}

.main-image-container img {
  max-width: 100%;
  height: auto;
}

.thumbnail-image-container img {
  max-width: 100%;
  height: auto;
}